.popup{
 z-index: 1000;
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
 justify-content: center;
 align-items: center;
}
.popup-content{
display: flex;
background: #063b38;
width: 35em;
height: 25em;
padding: 20px;
border-radius: 10px;
animation: show 0.3s ease;
justify-content: center;
align-items: center;
}

.close{
float: 100%;
padding: 10px;
margin: 10px 0;
cursor: pointer;
color: #fff;
align-self: flex-start;
justify-self: end;
}

.logintitle{
  width: 100%;
}

.popup-content input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
}

.popup-content label{
  width: 100%;
  color: #fff;
}

.login-btn, .submit-btn{
background: #0369a1;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
border-radius: 20px;
width: 100%;
margin-top: 20px;
}
.forgotlink{
  display: flex;
  color: #6abae6;
  font-size: 12px;
  justify-self: end;
  text-decoration: underline;
}

@keyframes show{
  form {
    transform: scale(0.8); opacity: 0;
  }
  to{
    transform: scale(1); opacity: 1;
  }
}