
.register-household {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 700px;
  margin:0 auto;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.form-section {
  margin-bottom: 15px;
  margin:auto;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.btn-add-member, .btn-generate, .btn-submit {
  background-color: #0f766e;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-add-member:hover, .btn-generate:hover, .btn-submit:hover {
  background-color: #115e59;
}

.form-actions {
  margin-top: 15px;
  text-align: right;
}
